<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<h2>When to call your doctor</h2>
<br>
WHAT are the circumstances under which you always call your doctor.<br>
The following are all so never ignore them.<br>
temperature<br>
temperature of over 39°C (102.2°F).<br>
tamed temperature accompanied by drowsiness nista puplish rash on the body, plus any other<br>
sgns of illness.<br>
*Amused temperature accompanied by a<br>
ansulsion_ or a raised temperature if your child has comulsions in the past.<br>
*A mined temperature accompanied by a stiff neck aud licadache.<br>
temperature below 35°C (95°F) accompanied WU skin surface, drowsiness, quietness and<br>
Temperature which has dropped and then rises man<br>
Temperature of more than 38°C (100.4°F) for =MI three days.<br>
by has diarrhoea for more than six hours. is accompanied by pain in the abdomen, or any other
obvious signs of illness.<br>
Emergencies<br>
ifisais get your child to the nearest hospital by arttiance or car if you notice any of the
following ant Aso pages 284-311):<br>
fur dvicl has stopped breathing (see page 286). 'Ilibur chid is breathing with difficulty and his
lips gong blue (see page 294).<br>
d is unconscious (see page 292). chid has a deep wound that is bleeding ..:ee page 300).<br>
:- :1 has a serious burn (see page 302).<br>
<br>
Vomiting<br>
If your baby has been vomiting for a period of more than six hours.<br>
I, Prolonged, violent vomiting.<br>
Dizzy spells plus nausea and headaches.<br>
Nausea and vomiting accompanied by right-sided pain in the abdomen.<br>
Loss of appetite<br>
If your baby goes off his food suddenly, or is less than six months old and doesn't seem to be
thriving. 0 If your child usually has a hearty appetite, but refuses all food for a day and seems
listless.<br>
Pain and discomfort<br>
0 If your child complains of headaches and feels sick and dizzy.<br>
110 If your child complains of blurred vision, especially if he's recently had a bang on the
head.<br>
If your child has severe griping pains, which occur at regular intervals.<br>
If your child has a pain in the right side of his abdomen and feels sick.<br>
Breathing<br>
0 If your child's breathing is laboured and his ribs are being sharply drawn in with each
breath.<br>
Your child has a suspected broken bone<br>
page 70).<br>
Your child has a chemical in his eyes <br>
.<br>
It Your child's ear or eye has been damaged <br>
.<br>
Your child has been bitten by an animal or a snake .<br>
Your child has eaten a poisonous substance .
</body>
</html>
