<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<h2>The eye</h2>
The eye works by focusing rays of light through a lens on to a sensitive layer in the back of the
eye called the retina. The information is then sent to the brain via the optic nerve to be
interpreted. Each eye<br>
sees an object from a different angle. The brain co-ordinates the image picked up by each eye so
that a solid, three-dimensional object is seen. The eye is held in place by six muscles, which allow
it to swivel and see in many directions.<br>
Cross-section of the eye<br>
Eyelid<br>
Protective flap of skin that comes myth over the eye<br>
Retina<br>
Light-sensitive layer covering the innermost part of the eye<br>
Conjunctiva<br>
Thin membrane covering ..he front of the eyeball and eyelid<br>
Lens<br>
Focuses the light on to the retina<br>
Pupil<br>
Hole in the centre of the ------- rs through which light passes a" to the lensiris Colouredpart of
the eye that oantracts and relaxes to control the amount of light entering the eye<br>
Ciliary body<br>
Muscles that thicken and narrow the lens according to the distance of the object viewed<br>
Eye socket<br>
Hole in the skull in which the eyeball sits<br>
Eye muscles<br>
Control eye movement<br>
The ear<br>
The ear is an important organ, not only for hearing, but also for balance. The ear consists of three
parts: the outer, middle and inner ear. The part of the ear<br>
that you see is the outer ear. All three sections of the ear are involved with hearing; balance is
controlled in the inner ear alone.<br>
Cross-section of the ear<br>
Ossicles<br>
A chain of three bones that amplify vibrations in the ear drum<br>
Ear flap (pinna)<br>
Made of sal cartilage, the ear flap charnels sound waves into •_".e ear canal<br>
External ear canal --z..rrtels sound waves 1:mards the ear drum<br>
Semi-circular canals Fluid-filled<br>
canals that help control balance<br>
Auditory nerve Carries the signals from the ear to the brain for interpretation<br>
Cochlea<br>
Picks up vibrations from the ossicles and passes the signals to the auditory nerve<br>
Eustachian tube<br>
Tube connecting the ear to the throat that equalizes pressure on either side of the ear drum<br>
Ear drum<br>
Membrane strached across the ear caned that vibrates when sound waves come clown the canal
</body>
</html>
