<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<h2>MUSCLES</h2><br>
MUSCLES ARE MADE up of long bands of closely interlocking fibres that cause movement by contracting
and relaxing. There are two main types of muscle in the body — involuntary and voluntary.
Involuntary muscles operate all the time without conscious control and include the muscles of the
heart and the digestive system. Voluntary muscles, also known as skeletal muscles, can be
consciously controlled and it is these muscles that cause the visible movement of the limbs.<br>
Some muscles are designed to relax and contract quickly to make specific movements, for example,
lifting an arm or kicking a ball, while others, such as the spinal muscles, are designed to remain
in contraction for long periods of time. There are well over 600 named muscles in the body;
illustrated opposite are some of the larger or most obvious ones.<br>
How muscles work<br>
Muscles consist of a large central part known as the belly, which tapers at each end. The ends are
attached to a bone, either directly, or by means of a narrow band of fibre called a tendon.<br>
hormones present in the body, physical activity and diet. Before adolescence there is very little
difference in the bulk and strength of boys' and girls' muscles. What difference there is is largely
due to the tendency in boys to spend more time than girls on activities that require physical
strength. After adolescence, however, the male hormones are important in the development of a boy's
greater bulk and strength.<br>
To develop properly, muscles must be used; if they are not used, they will actually decrease in
size.<br>
A child who is encouraged to be active, and pursue physical activities requiring increasing stamina,
will have larger, stronger and better-co-ordinated muscles than a child who is lethargic and takes
little exercise or one who is discouraged from doing so by overprotective parents. Some children,
however, have muscles that show great endurance while others seem to tire more easily, so try to let
your child set his own limits. Don't expect your child to continue to the point of exhaustion; on
the other hand, if he is full of energy, don't try to stop him continuing after other children have
given up. Let him be the judge of his own limitations.<br>
Most of the skeletal muscles work in pairs so that as one contracts, the other relaxes. To bend the
elbow, the biceps muscle contracts and the triceps muscle relaxes; to straighten it, the triceps
contracts and the biceps relaxes.<br>
How muscles grow<br>
Although your baby can move quite vigorously at birth and all the muscles are present, they are not
fully developed and will grow in length, breadth and thickness as your baby develops. The three most
important factors affecting their development are the
</body>
</html>
