<h2 style="text-align: justify;">Bones</h2>
<p>THE BODY IS BUILT on a framework of 206 bones called the skeleton. These bones act as levers for
    _muscles to pull against, thus enabling movement, and they surround and protect the vital organs
    of the head, chest and abdomen.<br/> How bones develop<br/> Bones consist of a central shaft and
    two shaped ends. In a mature bone, the shaft and ends are hard structures, with a soft inner
    core of bone marrow (see below). In newborn babies, the bones are mostly made up of a soft,
    bendy material called cartilage,<br/> and, as your child develops, this cartilage is gradually
    converted to bone, a process known as ossification. In early childhood, the shaft is bone but
    the ends still consist largely of soft cartilage. By the time your child reaches adolescence,
    the bone formed in the ends joins the bone in the shaft and growth stops. Throughout childhood,
    the bones are therefore fairly soft, which is why so-called "greenstick fractures", where the
    bone bends rather than breaks, can occur<br/> What happens when your child grows Your child
    grows in height as his bones lengthen. This growth does not take place over the whole length of
    a bone, but at each end. Growth occurs gradually throughout childhood. At puberty, however, both
    girls and boys put on a rapid growth spurt. With girls this normally begins when they are about
    11 years old, and in boys about a year later. Girls stop growing when they are about 18; boys
    continue growing for one or two years longer, which accounts, at least in part, for the greater
    average height in boys.<br/> Joints<br/> The separate bones of the skeleton are connected by
    joints, and these joints are held together by strong bands of fibrous tissue called ligaments.
    There are several different types of joint &mdash; fixed, partly movable and freely movable.
    Fixed joints allow no movement; partly movable joints allow slight movement; freely movable
    joints allow movement in several directions, and there are several different types &mdash; hinge
    joints and ball-and-socket joints are two examples.</p>