<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<h2>FEVER AND TEMPERATURE</h2>
<br>
IN CHILDREN, NORMAL BODY TEMPERATURE ranges from
<br>
36°C (96.8°F) to 37°C (98.6°F). Any temperature over 37.7°C (100°F) is classed as a fever.
Hypothermia develops if the temperature falls below 35°C (95°F). Body temperature will vary
according to how active your child has been and the time of day: it is lowest in the morning because
there is little muscle activity during sleep, and highest in the late afternoon after a day's
activity. It will also be high after your child has been running around.<br>
An abnormally hot forehead may be the first indication that your child has a temperature. To be
accurate, however, you must take your child's temperature with a thermometer (see opposite and page
30). Because the temperature-control centre in the brain is primitive in young children, the
temperature can shoot up more rapidly than in adults. When a fever is present, you should take<br>
your child's temperature again after 20 minutes, just in case it was only a transitory leap. Never
regard a high temperature as an accurate reflection of your child's health; it is only one sign of
illness. A child can be very ill without a temperature or quite healthy with one.<br>
<br>
Types of thermometer<br>
Digital thermometer<br>
Thermometers<br>
The most accurate way to take your child's temperature is with a digital thermometer. Mercury
thermometers are less likely to be accurate because children often will not keep them in place long
enough. Digital thermometers can measure low as well as high temperatures, which is useful because
babies and young children lose heat quickly and this can be dangerous (see page 307). Digital ear
thermometers, which you insert very briefly into your child's ear, are probably the easiest type to
use.<br>
Digital thermometers are harder to break than mercury thermometers and are easy to use with children
of all ages. They are, however, more expensive than other thermometers and require batteries to
work. If you use a digital thermometer be sure to keep spare batteries on hand.<br>
If you need to take your child's temperature using a mercury thermometer, place it under his armpit
fe-three minutes (the result using this method will be 0.6°C, or 1.°F, below body temperature). Once
your child is about six or seven you can probably take hi, temperature orally using a mercury
thermometer, as long as you can trust him not to bite the theanomete:
</body>
</html>
