<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<h2>The sense organs</h2>
The most important sense organs of the body (the nose, mouth, eyes and ears) are all situated in the
head. Between them, they give us a great deal of information about the outside wdrld.<br>
The nose and mouth<br>
The nose is the organ of smell and also forms the main entrance to the respiratory system. Air is
breathed in through the nose and passes down into the lungs via the windpipe (trachea). The nose
is<br>
lined with a hair-covered membrane that filters, moistens and warms air as it is taken into the
body. The nose is also linked to the sinuses, which is why nasal infections can pass into the
sinuses.<br>
The mouth forms the entrance to the digestive system (see page 21); it is also involved (with the
tongue, lips and larynx) in speech. The tongue is the organ of taste — different areas of the tongue
distinguish the main types of flavour: salty, sweet, bitter and sour.
</body>
</html>
