<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<h2>CARING FOR A SICK CHILD</h2>

<br>
Calling the doctor<br>
<br>
MOST PARENTS KNOW INSTINCTIVELY when their child is sickening for something:<br>
the child may not be<br>
as lively as usual; he may refuse his food; he may<br>
become clingy. However, the parent is not always<br>
able to diagnose exactly what is wrong, nor is he<br>
or she necessarily able to tell whether the child's<br>
symptoms are serious, or even potentially serious.<br>
An ill child is always distressing and the situation<br>
can be made even more tense if you cannot decide<br>
whether or not to call out the doctor.<br>
There are some circumstances, after a serious injury, for example, when medical help must be sought
immediately. For most<br>
parents, these situations are quite obvious. There<br>
<br>
are, however, many more situations where the seriousness isn't as clear-cut. This is where the worry
comes in: "Are my child's symptoms quite normal<br>
or are they potentially serious?" What you must remember is that most doctors will not mind if you
seek their advice. Always follow your instincts and, if you are ever in doubt, contact your
doctor.<br>
If your child is already undergoing treatment from your doctor and you are worried about his
progress, call your doctor again. Don't take your child to a casualty department because the doctor
in the casualty department will not be able to change your child's treatment without consulting your
own doctor first.<br>
<br>
You will almost certainly know when your child is sickening for something
</body>
</html>
