<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<br>
<h2>CARING FOR A SICK CHILD</h2>
<br>
doctor should give your child a thorough ration. If, for example, your child has an<br>
. the doctor should examine his ears. If he nominal pain then your doctor should<br>
his abdomen without his clothes on. If a sore throat and a cough, your doctor listen to his chest as
well as examining the and feeling his neck glands. You should not a prescription for your child
without an<br>
on first.<br>
Is a list of things you should expect your to do or tell you, or that you should<br>
r to ask him.<br>
<br>
your doctor to:<br>
your child thoroughly.<br>
lieu an honest opinion of what is wrong. If<br>
does not know what is wrong, you should him to tell you that further investigations are<br>
in order to obtain a clear diagnosis.<br>
sou the implications of the illness or condition. example, your child has an acute attack of<br>
or a middle-ear infection, your doctor leg you that your child may need several of antibiotics to
eradicate it completely. Ow you medicine if he is sure that there is wrong_ He would be wrong to
give you<br>
simply because you have gone into the expecting to be treated. Respect him for not wed into giving
you a prescription.<br>
all your questions — be persistent until you<br>
satisfied.<br>
jaaa. as much information as possible about prescribed for your child — whether tore or after a
meal, whether there are<br>
ethects and whether there are any special<br>
that you ought to take.<br>
you of any possible complications and tell r signs to look out for. ,<br>
<br>
Your doctor will give your child a thorough examination<br>
.1%<br>
Things to ask your doctor<br>
If your child has a recurrent condition such as cold sores or boils, ask your doctor what you can do
if you notice the symptoms recurring.<br>
Ask your doctor for home-nursing tips.<br>
If your child has a chronic condition, ask your doctor if there is anything that you can do yourself
at home to help the condition. For example, if your child has infantile eczema, there's quite a lot
you can do in terms of adding emollients to the bath water, using special soap, gently rubbing in
moisturizing ointments and creams, even when the skin is clear. Avoiding synthetic clothes and
bedding and using a non-biological laundry detergent may also help.<br>
If your child has an infectious disease, ask your doctor about the incubation period (for the
benefit of your friends whose children have come into contact with your child), the length of time
your child will be infectious and how long he will have to stay off school.<br>
</body>
</html>
