<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<h2>SICKNESS</h2>
CARING FOR A SICK CHILD<br>
<br>
What to tell your doctor<br>
Your doctor will need to know the answers to specific questions, both to help him make a diagnosis
and to gauge the severity of the illness or injury. The doctor needs as much information as<br>
possible. If necessary, write down everything that you think might be helpful on a piece of paper
and have it with you when you are speaking to the doctor so that you do not forget. He will probably
need to know the following:<br>
Your child's age.<br>
Whether your child has a temperature. If so, what is it; did it come on quickly; how long has he had
it; have there been any fluctuations and, if so, what were they?<br>
Are your child's neck glands swollen?<br>
Has your child vomited?<br>
Has your child had diarrhoea?<br>
Has your child complained of any kind of pain and, if so, where is the pain?<br>
Has your child suffered from dizziness or blurred vision (particularly if he's recently had a knock
on the head)?<br>
Has your child had a convulsion? If so, how long did it last?<br>
Has your child lost consciousness?<br>
Did your child eat the last meal offered and has he eaten within the past three hours?<br>
What to expect from your doctor<br>
Whether you take your child to the doctor's surgery or arrange for a home visit, there are certain
things you should expect your doctor to do. Make sure he gives you an honest opinion of what he
thinks is<br>
wrong with your child and that he answers all your questions fully.<br>
<br>
<br>
<br>
Taking your child's pulse<br>
The pulse is the wave of pressure that passes along each artery every time the heart beats. You can
feel the pulse wherever an artery lies close to the skin. The most common site for taking the pulse
is at the wrist (radial pulse); it can also be taken on the inside of the upper arm (brachial pulse)
or in the neck (carotid pulse), although this is normally only done if you suspect that the heart
has stopped beating altogether (see page 290).<br>
The pulse rate will vary with age. It is normally faster after exercise and slower after resting. A
young baby's heart will beat about 160 times a minute; by the time he is one year old it will beat
about 100-120 times per minute and by the time he is about seven or eight years old it will have
slowed down to the adult rate of 80-90 beats per minute. A normal pulse is regular and strong; any
abnormality, such as a fast, weak pulse or a slow pulse, may indicate that your child is ill.<br>
<br>
If your cnild is under one, it is generally easier to take his pulse at the brachial artery, located
on the inside of the upper arm.<br>
Taking the radial pulse<br>
Support your<br>
child's wrist with your thumb and place two fingers in the hollow below the palm of his hand on the
thumb side, just below the wrist creases.<br>
0 Count the number of beats you can feel in 15 seconds and multiply this figure by four to get the
number of beats in a minute.
</body>
</html>
