<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">

<html>
<head>
    <title></title>
</head>

<body>
<h2>UNDERSTANDING YOUR CHILD'S BODY</h2>
<br>
Organs and Glands<br>
Organs of the lower abdomen<br>
These include the two kidneys and the bladder (which, with the ureters and urethra, make up the
urinary system), and the reproductive organs.<br>
Male reproductive system<br>
The male sex glands, the testes (testicles), are situated on the outside of the body in the scrotal
sac.<br>
<br>
They produce sperm and testosterone, the hormone that controls the development of the sex organs and
the secondary sexual characteristics such as broad shoulders and well-muscled arms and legs.<br>
From puberty onwards, all the organs of the reproductive system enlarge. The testes then begin to
manufacture sperm, first in small quantities, then in increasingly larger amounts.<br>
<br>
<br>
Kidneys<br>
These two organs filter the blood, removing any waste products from it. They also make urine<br>
Ureters<br>
Tubes connecting the kidneys and bladder; there is one for each kidney<br>
Bladder<br>
Expandable bag in which liquid waste (urine) is stored before being excreted<br>
Urethra<br>
Passage that carries urine and fluid containing sperm (seminal fluid) out of the body<br>
<br>
<br>
<br>
Female reproductive system<br>
At birth, the uterus is extremely small and it does not begin to grow until puberty. However, the
ovaries already contain all the eggs that will ever be produced and released during a girl's fertile
life.<br>
<br>
Female sex hormones,<br>
oestrogen and progesterone, are manufactured by the ovaries. At puberty, their production begins to
follow a monthly pattern, which stimulates the beginning of the menstrual cycle.<br>
<br>
Kidneys<br>
These two organs filter the blood, removing any waste products from it. They also make urine<br>
Ureters<br>
Tubes connecting the kidneys and bladder; there is one for each kidney<br>
Bladder<br>
Expandable bag in which liquid waste (urine) is stored before being excreted<br>
<br>
Vagina<br>
Female genital passage leading to the cervix<br>
Urethra<br>
Tube that carries urine out of the body<br>
<br>
</body>
</html>
